@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grand Circus University Enrollment Center</h1>
    @if (ViewBag.LoggedIn)
    {
        <p><a asp-controller="Students" asp-action="Details">My Account Details</a></p>
    }
    else
    {
        <p><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
    }
</div>

